/*Mobile*/

@media screen and (max-width: 768px) {
    
    header {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    }


    .logo { 
        position: absolute;
        left : 20px; 
        top : 20px;
        vertical-align: baseline;
    }

    section {
    padding: 0px 0px;
    }

    h2 {
    padding: 0px 10px;
    text-align: start;
    justify-content: center;
    font-size: 22px;
    }

    
    p {
    padding: 0px 20px;

    }
    .nav {
        width: 100%;
    }

    .nav ul {
        padding-left: 0;
    }


    .nav a {
        width: 55px;
        justify-content: center;
        align-content: space-between;
        flex-wrap: nowrap;
        position: relative;
        top: 40px;
    }


    .nav .menu {
        height: 200px;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .nav a:hover {
        color:  #0065FC;
        border-top: none;
        border-bottom: 3px solid #0065FC;   
    }

    #hebergements_btn, #activites_btn {
        height: 0;
    }



    #inscription {
        width: 30px;
        position: absolute;
        top: 0;
        right: 0;
    }

    #inscription:hover {
        border-bottom: none;
    }

    
    .search_bar {
    margin: 10px;
    }

    .fa-search {
        display: initial;
    }

    .search {
        display: none;
    }

    
    .filters {
        flex-direction: column;
    }

    .filter_list {
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        padding:0;
    }


    .filter_list li {
    list-style: none;
    padding: 10px 10px;
    
    }

    .texte_lien {
        justify-content: center;
        margin: auto;
    }

    #list_familial {
        width: 120px;
    }

    #list_economique {
        width: 10px;
           
    }

    .information {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin: 10px;
    }  
    
    .heberg_pop {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }


    .hebergements_box {
        width: 100%;
        background-color: white;
        padding-top: 20px;
        margin-right: 0;
      }


    .image_box {
        width: 300px;
        height:150px;
        margin-left: 0;
        margin-right: 0;
        border-radius: 18px;
        border: 5px solid white;
        background-color: white;
        padding-left: 0;
        padding-right: 0;
    }

    figure {
        box-shadow: 2px 2px 2px 2px #e3e3e3;
    }
    
    #populaires_container {
        width: 100%;
        border-radius: 0;
        
      }
      .plus_populaires {
        display: flex;
        bottom: 20px;
        right: 70px;    
    }
    .wrapping, .heberg_pop {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
      }

      .legende_texte {
        width: 100%;
        align-items: center;
    }
        .Activites {
        
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;   
        }
    
        .activites_container {
        width: fit-content;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center; 
        align-content: center;
        align-items: center;
        }
    
        .marseille_position, .activites_marseille {
        width: 280px;
        height:190px;
        margin-right: 0;
        justify-content: center;
        
        }
    
        .activ_photos, .img_marseille {
        width: 280px;
        height: 190px;
        margin-right: 0;
        justify-content: center;
        }

        .marseille_position img {
            width: 300px;
        }
       
        .img_marseille img {
        bottom: 180px;
        align-items: center;
        justify-content: center;
        }
    
        .img_marseille {
        width: 280px;
        height: 190px;
        align-items: center;
        justify-content: center;
        }

        .footer_wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        }
    
        .footer_column {
        width: 100%;
        }

        figure {
            margin-left: 0;
            margin-right: 0;
        }

        .pictures {
            position: relative;
            bottom:100px;
            
        }
        #hotel_mer {
            bottom: 180px;
        }

        #amina {
            bottom: 250px;
        }


        #vieuxport {
            position: relative;
            bottom: 240px;
            object-fit: contain;
        }

}


/*Tablet*/

@media screen and (max-width: 1024px) {
    

    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

      .logo { 
        height: 60px;
        padding: 0;
        margin: 0;
      }
      
      .nav .menu {
        width: 100%;
        justify-content: center;
      }

    #hebergements_btn, #activites_btn {
        height: auto;
    }

    .filters {
        flex-direction: column;
    }

    .hebergement_style {
        left: 0;
    }

  

    .filter_list {
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        
    }

    .filter_list li {
        list-style: none;
        padding: 10px 10px;
        }
        


    #list_familial {
        width: fit-content;
    }

    #list_economique {
        width:auto;
    }
    .information {
        display: flex;
        align-items: center;
        justify-content: center; 
        margin: 10px;
        }
    .heb__style {
        margin: 10px;
        }
    .fa-chart-line {
        margin: 20px;
        justify-content: center;
        }
    .wrapping, .heberg_pop {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        justify-content: center;
          }
          
    .Activites {
        
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;   
    }
        
        .activites_container {
            width: auto;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center; 
            }
            
        .marseille_position, .activites_marseille {
            width: 280px;
            height:auto;
            margin-right: 0;
            justify-content: center;
            
            }
        
            .activ_photos, .img_marseille {
            width: 280px;
            height: 190px;
            margin-right: 0;
            justify-content: start
            }
        
            
            .image_position {
            bottom: 100px;
        
            }
        
            .img_marseille img {
            bottom: 180px;
            align-items: center;
            }
        
            .img_marseille {
            width: 280px;
            height: 190px;
            object-fit: contain;
            }

            .footer_wrap {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }
        
            .footer_column {
                width: 100%;
            }
        
        
        


}

