body {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: white;
    font-family: 'Raleway', sans-serif;
}

li {
    list-style: none;
}

:link {
  text-decoration: none;  
}

.nav ul
{
    margin: 0;
	background: white;
    list-style: none;

}

.nav a {   

    display: flex;
    padding: 30px 52px;
    text-align: justify;
    align-content: right;
    text-decoration: none;
	color: #0065FC;
    font-size: 16px;
}

.nav .menu
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.nav a:hover {
    color:  black;
    border-top: 3px solid #0065FC;   
}

.logo { 
    text-align: justify;
    justify-content: center;
    padding: 30px 52px;
    position: absolute;
}

section {
    padding: 50px 52px;
    position: relative;
}

h2 p {
    color: black;
}

h2 {
    font-size: 18px;
}

p {
    font-size: 16px;
}

.fa-lg {
    font-size: 1.33em;
}

.map_icon {
    display: flex;
    align-items: center;
    padding-right: 18px;
}



.search_bar {
    width: 25%;
    padding-left: 20px;
    border-radius: 16px;
    background-color:#F2F2F2;
    display: flex;
    text-align:center;
    position: relative;
}

.searchterm {    
    width: 237px;
    height: 48px;
    font-weight: bold;
    font-size: 16px;
    padding-left: 18px;
    color: black;
    background-color: white;

}

.searchbutton {
    width: 200px;
    background-color: #0065FC;
    color: white;
    font-size: 18px;
    border: none;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

.filters {
    display: flex;
    align-items: center;
    justify-content: baseline;

}

.filter_list {
    display: flex;
}


.filter_list li {
    list-style: none;
    padding: 0px 20px;
}


.list_container {
    width: 160px;
    height: 50px;
    border: 3px solid #F2F2F2;
    border-radius: 25px;
    display: flex;
    box-sizing: content-box;
    align-items: center;
    text-align: justify;
    justify-content: center;
}

.fa-money-bill-wave {
    color: #0065FC;
}

.fa-child {
    color: #0065FC;
}

.fa-heart {
    color: #0065FC;
}

.fa-dog {
    color: #0065FC;
}

.information {
    display: flex;
    text-align: center;
    align-items: center;


}

.fa-info-circle {
    background: #0065FC;
    border-radius: 30px;
    color: white;

}

.hebergements_box {
    display: flex;
    height: 630px;
    width: 865px;
    border: none;
    border-radius: 18px;
    background-color: #F2F2F2;
}

#box {
    display: flex;  
}

.image_box {
    height: 200px;
    width: 230px;
    background-color: white;
    text-align: center;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
}

.pictures {
    width: 100%;
}